<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
    <div class="posts">
    <% include partials/top %>

      <!-- main start-->
      <div class="index">
        <a href="/posts/new"><button>New</button></a>
        <% if(user) {%>
          <a href="/logout" class="float_right"><button>Logout</button></a>
          <a href="/users/<%= user._id %>" class="float_right"><button>My Profile (<%= user.nickname %>)</button></a>
        <% } else { %>
          <a href="/login" class="float_right"><button>Login</button></a>
          <a href="/users/new" class="float_right"><button>Sign Up</button></a>
        <% } %>
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>author</th>
              <th>date</th>
            </tr>
          </thead>
          <tbody>
            <% posts.forEach(function(post){%>
            <tr>
              <th><a href="/posts/<%= post._id %>"><%= post.title %></a></th>
              <% if(post.author) {%>
                <th><%= post.author.nickname %></th>
              <% } else { %>
                <th>???</th>
              <% } %>
              <th><%= post.createdAt.toLocaleDateString() %></th>
            </tr>
            <% }) %>
          </tbody>
        </table>

      </div>
      <!-- main end-->
    </div>
    <% include ../partials/footer %>
  </body>
</html>
